# Data Handling
pandas
numpy
duckdb
Faker

# AI & Vector DB
langchain
langchain-community
langchain-openai
langchain_google_genai
chromadb
openai
tiktoken

# UI
streamlit
plotly

# Utilities
python-dotenv
watchdog 

fastapi